<h1> Photographer Menu </h1>
<h3> Choose an option: </h3>
<ul>
  <li><a href="/photographer_add_form">Add a new photographer</a></li>
  <li><a href="/photographer_update">Change an existing photographer</a></li>
  <li><a href="/photographer_delete">Delete a photographer</a></li>
  <li><a href="/photographer_view">View photographers</a></li>
  <li><a href="/home">Return to Main Menu</a></li>
</ul>