<h1>Add a Photographer</h1>

  <p>Type out a new photographer</p>

  <form action="/photographers/photographer_add">
   
    <p>Name: <input type="text" name= "name"</p>
  
    <input type="submit" value="ADD PHOTOGRAPHER">
    
  </form>
    
<p><a href="/home">Go to home page</a></p>
