<h1> Album Menu </h1>
<h3> Choose an option: </h3>
<ul>
  <li><a href="/album_add_form">Add a new album</a></li>
  <li><a href="/album_update">Change an existing album</a></li>
  <li><a href="/album_delete">Delete a album</a></li>
  <li><a href="/album_view">View albums</a></li>
  <li><a href="/home">Return to Main Menu</a></li>
</ul>