<h1>Add an Album</h1>

  <p>Type out a new album</p>

  <form action="/albums/album_add">
   
    <p>Title: <input type="text" name= "title"</p>
  
    <input type="submit" value="ADD ALBUM">
    
  </form>
    
<p><a href="/home">Go to home page</a></p>
